/TARGET/project/stm32f10x_stdperiph_template/HEX
/TARGET/project/stm32f10x_stdperiph_template/MDK-ARM/STM3210B-EVAL
/TARGET/project/stm32f10x_stdperiph_template/MDK-ARM/STM3210C-EVAL
/TARGET/project/stm32f10x_stdperiph_template/MDK-ARM/STM3210E-EVAL_XL
/TARGET/project/stm32f10x_stdperiph_template/MDK-ARM/STM32100B-EVAL
/TARGET/project/stm32f10x_stdperiph_template/MDK-ARM/STM32100E-EVAL
/TARGET/project/stm32f10x_stdperiph_template/MDK-ARM/STM3210E-EVAL
/TARGET/project/stm32f10x_stdperiph_template/MDK-ARM/Project.uvgui_DELL.bak
/TARGET/project/stm32f10x_stdperiph_template/MDK-ARM/Project.uvgui.DELL
